DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
MINIO_BUCKET=MINIO_BUCKET_HERE
MINIO_ACCESS_KEY=MINIO_ACCESS_HERE
MINIO_SECRET_KEY=MINIO_SECRET_HERE
MINIO_ENDPOINT=MINIO_ENDPOINT_HERE
